doctype html
html
  head
    link(rel='stylesheet', href='/style.css')
    h1 Test
        form(action="/posts" method='post')
            input.btn(type='submit' value='create -> MongoDB') 
        form(action='/posts' method='get')
            input.btn(type='submit' value='get -> MongoDB')
        form(action='/api/test' method='post')
            input.btn(type='submit' value='create -> Order')
        form(action='/api/test' method='get')
            input.btn(type='submit' value='get -> Order')
        p Antwort:
          pre=JSON.stringify(result)